{% extends "IbtikarShareEconomyDashboardDesignBundle:Layout:not_loggedin.html.twig" %}

{% block title %}{% trans %}Login page{% endtrans %}{% endblock %}

{% block body %}
                        <form class="dev-js-validation" action="{{ path('ibtikar_share_economy_ums_login') }}" method="post">
                            {% if error %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="alert alert-danger no-border">
                                        <button data-dismiss="alert" class="close" type="button"><span>×</span><span class="sr-only">{% trans %}Close{% endtrans %}</span></button>
                                        {{ error.messageKey|trans(error.messageData, 'security') }}
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            <div class="form-group has-feedback-right">
                                <input type="text" required name="_username" value="{{ last_username }}" class="form-control" placeholder="{% trans %}Email{% endtrans %}">
                                <div class="form-control-feedback">
                                    <i class="icon-user text-muted"></i>
                                </div>
                            </div>

                            <div class="form-group has-feedback has-feedback-right">
                                <input type="password" required class="form-control" placeholder="{% trans %}Password{% endtrans %}" name="_password">
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>

                            <div class="form-group login-options">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" class="styled" checked="checked" name="_remember_me">
                                            {% trans %}Remember me{% endtrans %}
                                        </label>
                                    </div>

                                    <div class="col-sm-6 text-right">
                                        <a href="{{ url('ibtikar_share_economy_ums_forgot_password') }}">{% trans %}Forgot your password ?{% endtrans %}</a>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">{% trans %}Login{% endtrans %}<i class="{% if app.session.get('_locale') == 'ar' %}icon-circle-left2{%else%}icon-circle-right2{%endif%} position-right"></i></button>
                            </div>
                        </form>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/jquery-validation/jquery.validate.min.js')}}"></script>
    <script src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/jquery.form.min.js')}}"></script>
    <script src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/dev/validation.js')}}"></script>
    {% if app.session.get('_locale') == 'en' %}
        <script src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/jquery-validation/messages_en.js')}}"></script>
    {% else %}
        <script src="{{ asset('bundles/ibtikarshareeconomydashboarddesign/js/plugins/jquery-validation/messages_ar.js')}}"></script>
    {% endif %}
{% endblock %}
